* {
    margin: 0;
    padding: 0;
}

.contenedor-imagen {
    float: right;
    width: 65%;
}

.pagina {
    display: flex;
    width: 100%;
}

.preguntas {
    text-decoration: wavy;
    color: #000;
}

.preguntas:hover {
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    color: #45806F;
}

.preguntas:before,
a:after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 2px;
    background: #8AFFDE;
    transition: left .2s;
}

.preguntas:hover:before {
    left: 0;
}

.preguntas:after {
    top: auto;
    bottom: 0;
    left: auto;
    right: -100%;
    background: #45806F;
    transition: right .2s;
}

.preguntas:hover:after {
    right: 0;
}

@media screen and (max-width: 480px) {
    header,
    main,
    {
        width: 100%;
    }
}