@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Oswald:wght@600&family=Roboto:wght@500&family=Smooch&display=swap');
@import url('https://fonts.googleapis.com/css2? family = Oswald: wght @ 400; 600 & display = swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    margin: 0 auto;
}

body {
    position: relative;
    min-height: 100vh;
}

main {
    width: 100%;
    margin: auto;
    font-weight: 600;
}

.recortar {
    width: 230px;
    height: 300px;
}

nav {
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: large;
    letter-spacing: 4px;
    text-align: end;
}

.nav-link:hover {
    color: #fff;
    font-weight: bolder;
}

ul {
    list-style: none;
    display: inline-block;
}

#menu li a {
    color: #45806F;
    padding: 10px;
    display: block;
    text-decoration: none;
    min-width: 100px;
}

#menu li p {
    color: #45806F;
    padding: 10px;
    display: block;
    text-decoration: none;
    min-width: 100px;
}

#menu li a:hover {
    color: #45806F;
    text-decoration: underline;
}

#menu li {
    float: left;
    text-align: center;
}

.menu-nav {
    background-image: linear-gradient(90deg, #8affde, #3700ff);
    max-width: 100%;
    margin: 0;
}

.nav-desplegable {
    max-width: 50%;
}

.navbar-toggler {
    border: 0;
    color: #fff;
}

.navbar-toggler:hover {
    color: #5500ff;
    border: 0;
    border-color: #c1a3ff;
}

.bi-three-dots-vertical {
    color: #fff;
    font-size: xx-large;
}

aside {
    width: 33%;
}

#presentacion-derecha {
    margin-left: auto;
}

#alineacion-derecha {
    text-align: right;
}

#textos {
    width: 80%;
    margin: auto;
}

.logo {
    margin-left: 0.5em;
    font-family: 'Cinzel', serif;
    color: #8AFFDE;
    font-size: smaller;
    font-weight: 400;
}

.logo:hover {
    color: #45806f;
}

#iconos {
    width: 50px;
}

.responsive-bg {
    background-image: url(../img/Storytelling3.png);
    background-repeat: none;
    background-position: center;
    background-size: contain;
}

#en-linea {
    display: flex;
}

#web {
    padding-top: 20px;
    border: 0%;
    width: 200px;
    height: 350px;
}

#web2 {
    padding-top: 20px;
    border-radius: 0%;
    margin-right: 20%;
    margin-right: 10%;
    width: 250px;
    height: 350px;
}

#texto-venta {
    color: #000;
}

#consejos {
    width: 500px;
    height: 400px;
}

.box-dg {
    padding: 0.5em;
    margin-bottom: 1em;
    -webkit-box-shadow: 0px 7px 8px 1px rgba(35, 31, 32, 0.41);
    -moz-box-shadow: 0px 7px 8px 1px rgba(35, 31, 32, 0.41);
    box-shadow: 0px 7px 8px 1px rgba(35, 31, 32, 0.41);
    background: #c1a3ff;
    background: linear-gradient(0deg, #d6fff3 0%, rgba(255, 255, 255, 1) 100%);
}

h1 {
    font-family: 'Oswald', sans-serif;
    background: -webkit-linear-gradient(180deg, #00ffb7, #5500ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: xx-large;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #000;
}

h4 {
    padding: 0.5em;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: x-large;
    background: -webkit-linear-gradient(#000, #5500ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    padding: 1em;
    font-family: 'Roboto', sans-serif;
    color: #000;
    vertical-align: inherit;
}

#imagenes {
    height: 300px;
    width: 150px;
}

.dropbtn {
    color: #000;
    padding: 10px;
    font-size: 12px;
    border: none;
}

.dropdown {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    display: flex;
    justify-content: flex-start;
}

.dropdown-toggle {
    background-color: #000;
    border: 0;
}

.dropdown-toggle:hover {
    color: #45806F;
    background-color: #000;
    border: 0;
    font-weight: bolder;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #45806F;
}

.final {
    background: rgb(184, 219, 209);
    background: linear-gradient(0deg, #ABCCC3 0%, #fff 100%);
}

.regresar {
    color: #6B807A;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 100;
}

.regresar:hover {
    color: #45806F;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 1rem;
    text-align: center;
    width: 100%;
    height: auto;
    margin: 0px;
    font-family: 'Cinzel', serif;
}

footer h3 {
    font-family: 'Cinzel', serif;
}

.final-error {
    background-color: #939e9b;
}

.redes {
    padding-top: 1%;
    width: 50px;
    border-radius: 50%;
}

.interlineado {
    letter-spacing: 1px;
    color: #fff;
    font-family: 'Cinzel', serif;
    font-size: smaller;
    font-weight: 400;
}

.interlineado:hover {
    color: #8AFFDE;
}

.intermedio {
    background-image: linear-gradient(180deg, #8affde, #ABCCC3, #d6fff3);
}

.btn-success {
    background-color: #5500ff;
    border: #5500ff;
}

.card {
    background-color: rgba(255, 255, 255, 0.564);
}

.navbar {
    justify-content: space-between;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

textarea {
    caret-color: #ff3700;
    height: 7em;
    font-size: xx-large;
    width: 1em;
}


/* PACMAN ANIMATION

Some decoration (not needed)

.wrapper {
    width: 100%;
    height: 100px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    position: relative;
    overflow: hidden;
}


Dots 

.breadcrumb {
    width: 100%;
    transform: translate(0, -50%);
    position: absolute;
    top: 50%;
}

.ball {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: black;
    border-radius: 50%;
    margin-top: -25px;
    position: absolute;
    animation-name: ball;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.ball01 {
    left: 20%;
    animation-delay: .6s;
}

.ball02 {
    left: 40%;
    animation-delay: 1.4s;
}

.ball03 {
    left: 60%;
    animation-delay: 2.5s;
}

.ball04 {
    left: 80%;
    animation-delay: 3.5s;
}

.ball05 {
    right: 0;
    animation-delay: 4.3s;
}


 Pacman

.pacman-wrapper {
    width: 100%;
    transform: translate(-50%, 0);
    position: absolute;
    left: 0;
    top: 50%;
    animation-name: slide;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: backwards, forwards;
}

.pacman {
    width: 80px;
    height: 80px;
    display: block;
    position: relative;
}

.pac {
    width: 100%;
    height: 50%;
    background: yellow;
    position: absolute;
}

.top {
    top: 0;
    border-radius: 100px 100px 0 0;
    animation: top .5s infinite linear;
}

.bot {
    bottom: 0;
    border-radius: 0 0 100px 100px;
    animation: bot .5s infinite linear;
}


 @keyframes
 Pacman slide

@keyframes slide {
    from {
        transform: translate(0, -50%);
    }
    to {
        transform: translate(100%, -50%);
    }
}


Pacman top animation

@keyframes top {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-35deg);
    }
}


Pacman bot animation 

@keyframes bot {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(35deg);
    }
}


Dots opacity

@keyframes ball {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


 TEMA OSCURO

@media (prefers-color-scheme: dark) {
    h1::after {
        content: dark;
        color: #00ffb7;
    }
    h4::after {
        content: dark;
        color: #c1a3ff;
    }
} 
*/